* {
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid black; */
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  border-bottom: 2px solid black;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 50vh;
  height: 60vh;
  align-items: center;
  margin: auto;
  border: 2px solid black;
  background-color: #282828;
  border-radius: 20px;
  overflow: scroll;
}
.number-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35vh;
  height: 40vh;
}

.operator-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: auto;
  margin-top: -80px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  border-radius: 1000%;
  background-color: grey;
  color: white;
  max-width: 70px;
  min-width: 70px;
  max-height: 60px;
  transition: 150ms;
  border: none;
}

.button:hover {
  background-color: orange;
  color: black;
}

.output-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vh;
  border-bottom: 2px solid black;
  padding: 5px;
}

.output {
  font-size: 50px;
  margin-left: 10px;
  color: white;
}

.total {
  margin-left: auto;
  margin-right: 10px;
  font-size: 50px;
  color: white;
}

.hidden {
  display: none;
}

.clear {
  display: flex;
  align-items: center;
  width: 30vh;
}

.equal {
  margin-left: auto;
}

.operator {
  background-color: #ff9503;
}

.top {
  background-color: #707070;
}

.number {
  background: #515151;
}
